/* Base components for HFML to HTML conversion. */

@import url('https://fonts.cdnfonts.com/css/belgiano-serif');

:root {
  --control-3d-highlight: rgb(219, 219, 219);
  --control-3d-shadow: rgb(8, 8, 8);
  --control-bg: rgb(190, 190, 190);
  --control-fg: rgb(12, 12, 12);
  --control-padding: 8px;
}

:root .dark {
  --control-3d-highlight: rgb(92, 92, 92);
  --control-3d-shadow: rgb(8, 8, 8);
  --control-bg: rgb(10, 10, 10);
  --control-fg: rgb(1, 129, 138);
}


/* We only care about code that has been marked with hfml class and everything under that. */
.hfml {
    background-color: var(--control-bg);
    color: var(--control-fg);
    font-family: 'Belgiano Serif', sans-serif;
    font-weight: 400;
    font-style: normal;

    a {
        color: rgb(29, 13, 104);
        text-decoration: underline;
        cursor: pointer;
    }

    p {
        text-align: justify;
    }

    .window {
        z-index: 1;
        background-color: var(--control-bg);
        color: var(--control-fg);
        border: 2px solid var(--control-3d-shadow);
        border-top-color: var(--control-3d-highlight);
        border-left-color: var(--control-3d-highlight);
        padding: var(--control-padding);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
    }

    .title {
        margin: calc(var(--control-padding) * -1);
        margin-bottom: var(--control-padding);;
        padding: 2px;
        background-color: blue;
        color: white;
        font-weight: bold;   
        user-select: none;
    }

    .hidden {
        display: none;
    }

    .split {
        display: grid;
        gap: var(--control-padding);;
    }

    .split-2 {
        grid-template-columns: 1fr 1fr;
    }
    .split-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .split-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .split-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .split-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .center {
        width: 100%;
        text-align: center;
    }

    .pos-absolute {
        position: absolute;
    }


    .pos-relative {
        position: relative;
    }

    .pos-fixed {
        position: fixed;
    }    
}